<div class="mx-64 p-10 bg-white shadow overflow-hidden sm:rounded-lg mt-5 font-mono">
	<h5 class="text-2xl leading-6 font-medium text-gray-900 text-center mb-5">What's New</h5>
	<div class="update my-10">
		<p class="my-2">New in (November 14th, 2021):</p>
		<ul class="list-inside list-disc">
			<li>New feature: Added two Segment columns "NUMBER" and "ADDITIONAL", both with input search filter.</li>
			<li>New feature: Changed "CVD", "PLAIN", "VOICING", "PALCE" and "MANNER" Segment columns with dropdown filter.</li>
			<li>Changed Segment column name "PLAIN VS NON-PLAIN" to "PLAIN".</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (November 13th, 2021):</p>
		<ul class="list-inside list-disc">
			<li>New feature: Blue language name in in Map is linked to its information page.</li>
			<li>/ⁿdʲ/: Changed "Pre-nasalised, palatalised" to "Pre-nasalised, Palatalised".</li>
			<li>/ⁿʣ̪ʲ/: Changed "Prenasalised, palatalised" to "Pre-nasalised, Palatalised".</li>
			<li>/ᵑɡʷ/: Changed "Pre-nasalised. Labialised" to "Pre-nasalised, Labialised".</li>
			<li>/ⁿɈ/: Changed "Pre-nasalized" to "Pre-nasalised".</li>
			<li>/lʲ/: Changed "Lateral approximant" to "Lateral Approximant".</li>
			<li>/l̪d̪/: Changed "Lateral flap" to "Lateral Flap".</li>
			<li>/ɺ/: Changed "Lateral tap" to "Lateral Tap".</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (November 12th, 2021):</p>
		<ul class="list-inside list-disc">
			<li>Fixed Segments page "Reset" button function.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (November 7th, 2021):</p>
		<ul class="list-inside list-disc">
			<li>New feature: Convert keyboard input '<span class="font-sans">g</span>' to 'ɡ' for backend query.</li>
			<li>New feature: Updated Segment structure with more fields.</li>
			<li>Update the Segment show page with exact match results.</li>
			<li>Fixed Segment input query function.</li>
			<li>Changed /<span class="font-sans">g</span>b/ to /ɡb/: Dedua, Kube, Migabac, Ono, Amele, Bau. </li>
			<li>Saved search query into Excel file.</li>
			<li>Fixed '<span class="font-sans">g</span>' in Segment search function.</li>
			<li>Changed /kxw/ to /kx<sup>w</sup>/: Migabac.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 28th, 2021):</p>
		<ul class="list-inside list-disc">
			<li>New feature: Added back original simple search function with reset button.</li>
			<li>New feature: Segment page supports simple search function.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 27th, 2021):</p>
		<ul class="list-inside list-disc">
			<li>New feature: Advanced search function at Papunesias' and Segments' show page.</li>
			<li>New feature: Create new language function.</li>
			<li>New feature: Download results into Excel file.</li>
		  <li>New page: Searches History for all created queries and results.</li>
		  <li>New fields: Area and Region of language.</li>
		  <li>Improve full text search algorithm.</li>
		  <li>Formatted Segment's Show and Edit page.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 24th, 2021):</p>
		<ul class="list-inside list-disc">
			<li>Fixed all minus sound query.</li>
	  	<li>Changed /kb/ to /kp/: Kube.</li>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 22nd, 2021):</p>
		<ul class="list-inside list-disc">
			<li>New feature: Display search query on page.</li>
	  	<li>New feature: Added map to Segment show page.</li>
	  	<li>Fixed normal full text search function.</li>
	  	<li>Changed /Ø/ to /ø/: Skou and Yaqay.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 21st, 2021):</p>
		<ul class="list-inside list-disc">
	  	<li>New feature: Text columns are sortable alphabetically, numberic columns are sortable in ascending and descending order.</li>
	  	<li>Splited result and the rest into two seperate sortable tables.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 20th, 2021):</p>
		<ul class="list-inside list-disc">
	  	<li>Changed /ᵑɈ/ to /ᶮɟ/: Abun and Savosavo.</li>
	  	<li>Changed /ⁿɟ/ to /ᶮɟ/: Kimaghima and Apali.</li>
	  	<li>Changed /ⁿɡb/ to /ᵑɡb/: Nen.</li>
	  	<li>Fixed language name edit function.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 18th, 2021):</p>
		<ul class="list-inside list-disc">
	  	<li>Moved all ~ of vowels on top: Edolo, Huli, Odoodee, Binandere, Korafe-Yegha, Munit, Gobasi.</li>
	  	<li>Changed all /<sup>n</sup>a/ to /ã/: Wutung.</li>
	  	<li>Changed font to apply a web safe monospaced font family, so /ɑ/ will not looks like alpha.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 16th, 2021):</p>
		<ul class="list-inside list-disc">
	  	<li>New feature: Bibliography Source and Notes fields of each language.</li>
	  	<li>Fixed Edit and Update function.</li>
		</ul>
	</div>
	<div class="update my-10">
		<p class="my-2">New in (October 15th, 2021):</p>
		<ul class="list-inside list-disc">
	  	<li>New page: What's New page.</li>
	  	<li>New feature: Edit and Update language's details.</li>
	  	<li>Format language's edit and show page.</li>
	  	<li>Coloured all current languages in red.</li>
	  	<li>Changed map legend.</li>
		</ul>
	</div>
</div>