// Place all the styles related to the Papuas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.legend {
		background-color: #fff;
		border-radius: 3px;
		top: 50px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
		padding: 10px;
		position: absolute;
		right: 50px;
		z-index: 1;
	}

	.legend h4 {
		margin: 0 0 2px;
	}

	.legend div span {
		border-radius: 50%;
		display: inline-block;
		vertical-align: baseline;
		height: 12px;
		margin-right: 5px;
		width: 12px;
	}

  .ss-value-text {
    font-weight: bold;
    font-size: 16px !important;
  }

  .ss-option {
    font-weight: bold;
  }

  .ss-value-delete {
    margin-left: 20px !important;
  }